* {
  /* outline: 1px dotted lightgray; */
  /* background-color: whitesmoke; */
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
header,
header .left,
header .right {
  display: flex;
}

header {
  position: fixed;
  height: auto;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100vw - 48px);
}

header .left {
  align-items: flex-end;
}

.header .logo {
  width: 42px;
  height: 58px;
}

.header-title {
  font-weight: 400;
  font-size: 18px;
  width: 86px;
  margin: 0 8px;
}

.header__bell {
  margin-bottom: 6px;
}

.burger-menu {
  width: 26px;
  margin-left: 14px;
  position: relative;
}

.burger-menu > input {
  display: none;
}

#burger-menu__toggle {
  opacity: 0;
}

.burger-menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6px;
  width: 26px;
  height: 14px;
  cursor: pointer;
  z-index: 1;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;
  transition-duration: 0.25s;
}

.burger-menu__btn > span::before {
  content: '';
  top: -6px;
}

.burger-menu__btn > span::after {
  content: '';
  top: 6px;
}

.burger-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;
  text-align: left;

  background-color: #f5f5f5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.burger-menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-size: 28px;
  font-weight: 400;

  text-decoration: none;
  transition-duration: 0.25s;
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span {
  transform: rotate(45deg);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger-menu__toggle:checked ~ .burger-menu__box {
  visibility: visible;
  right: 0;
}

.burger-menu__item:hover {
  background-color: #cfd8dc;
}

main {
  padding-top: 0;
}

.main-top {
  background-image: url('./img/main-top-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 58vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 62px;
}

.main-top h2 {
  margin-top: 120px;
  margin-bottom: 0;
}

.main-top h2,
.main-top form > label {
  margin-left: 16px;
  font-size: 28px;
}

.main-top form > label {
  font-weight: 600;
  color: #7e7e7e;
  text-decoration: underline dashed;
}

.main-top select {
  visibility: hidden;
}

.rent-settings {
  margin: 0 5px;
  margin-top: 52px;
  background-color: #ffffff;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 30px;
  padding-top: 25px;
  border-radius: 5px;
}

.housing-type-switch {
  display: flex;
}

input.search-button {
  background-color: #3dc55d;
  border-radius: 5px;
  border: none;
  height: 48px;
  position: relative;
  top: 25%;
}

.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photos img {
  max-width: 50%;
  max-height: 200px;
}

footer {
  background-color: black;
  color: white;
}
